%h1 Listing admin_sub_categories

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @admin_sub_categories.each do |admin_sub_category|
      %tr
        %td= link_to 'Show', admin_sub_category
        %td= link_to 'Edit', edit_admin_sub_category_path(admin_sub_category)
        %td= link_to 'Destroy', admin_sub_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sub category', new_admin_sub_category_path
